Repository amolrairikar/espn-fantasy-league-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-fmt, run-unit-tests, ruff-check, ruff-format

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: detect-aws-credentials
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [chore, docs, feat, fix, refactor, revert, test]
  - repo: local
    hooks:
      - id: terraform-fmt
        name: terraform fmt
        entry: terraform fmt -diff -write=true
        language: system
        types: [terraform]
        pass_filenames: true
      - id: terraform-validate
        name: terraform validate
        entry: terraform validate -json
        language: system
        pass_filenames: false
      - id: run-unit-tests
        name: Run unit tests
        description: "Run unit tests locally to ensure all tests pass before committing code."
        entry: pipenv run pytest --cov=api --cov-report=term-missing api/tests
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-check
        name: Ruff linter
        description: "Uses Ruff to lint and fix Python code."
        entry: pipenv run ruff check --fix .
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff formatter
        description: "Uses Ruff to format Python code using standard conventions."
        entry: pipenv run ruff format .
        language: system
        types: [python]

fix: fixed bug with playoff and championship standings icons
  frontend/src/features/standings/components/SeasonStandings.tsx
Due: none

fix: using layers in league draft lambda
  infra/aws/main.tf
  lambdas/step_function_lambdas/league_drafts/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

fix: increased league scores lambda memory
  infra/aws/main.tf
Due: terraform-fmt

feat: refactored league standings lambda
  infra/aws/main.tf
  lambda_layer/common_utils/query_dynamodb.py
  lambdas/step_function_lambdas/league_records/main.py
  lambdas/step_function_lambdas/league_records/requirements.txt
  lambdas/step_function_lambdas/league_standings/main.py
  lambdas/step_function_lambdas/league_weekly_standings/main.py
  lambdas/step_function_lambdas/league_weekly_standings/requirements.txt
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

chore: added unit tests for layer and updated test directory
  .pre-commit-config.yaml
  lambda_layer/__init__.py
  tests/unit/__init__.py
  tests/unit/api/__init__.py
  tests/unit/api/test_health_check.py
  tests/unit/lambda_layer/__init__.py
  tests/unit/lambda_layer/test_batch_write_dynamodb.py
  tests/unit/lambda_layer/test_logging_config.py
  tests/unit/lambda_layer/test_query_dynamodb.py
  tests/unit/lambda_layer/test_retryable_request_session.py
Due: run-unit-tests, ruff-check, ruff-format

chore: added unit tests for layer and updated test directory
  tests/unit/lambda_layer/test_batch_write_dynamodb.py
Due: run-unit-tests, ruff-check, ruff-format

fix: updating copied variables in lambda
  lambdas/step_function_lambdas/league_records/main.py
Due: run-unit-tests, ruff-check, ruff-format

fix: updating matchup sheet component rounding to 2 places
  frontend/src/components/utils/MatchupSheet.tsx
Due: none

fix: updated season standings to show aggregate point totals and differential
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/types.ts
  lambdas/step_function_lambdas/league_standings/main.py
Due: run-unit-tests, ruff-check, ruff-format

feat: deploying DEV environment and parameterizing code
  api/dependencies.py
  api/main.py
  api/package_api_lambda.sh
  api/routers/onboarding.py
  frontend/deploy_frontend.sh
  infra/aws/dev/backend.tf
  infra/aws/dev/main.tf
  infra/aws/dev/vars.tf
  infra/aws/prod/backend.tf
  infra/aws/prod/main.tf
  infra/aws/prod/vars.tf
  lambda_layer/common_utils/query_dynamodb.py
  lambda_layer/package_layer.sh
  lambdas/package_lambda.sh
  lambdas/step_function_lambdas/league_drafts/main.py
  lambdas/step_function_lambdas/league_members/main.py
  lambdas/step_function_lambdas/league_records/main.py
  lambdas/step_function_lambdas/league_scores/main.py
  lambdas/step_function_lambdas/league_standings/main.py
  lambdas/step_function_lambdas/league_weekly_standings/main.py
  tests/unit/lambda_layer/test_query_dynamodb.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: creating module for DEV and PROD deployments
  api/main.py
  infra/aws/common_infrastructure/main.tf
  infra/aws/common_infrastructure/vars.tf
  infra/aws/dev/main.tf
  infra/aws/prod/main.tf
  infra/aws/prod/vars.tf
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: improving login page code quality
  .gitignore
  api/main.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/api_client.ts
  frontend/src/api/league_metadata/api_calls.ts
  frontend/src/api/league_metadata/types.ts
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/features/login/components/Login.tsx
  frontend/src/features/login/form_schema.ts
Due: run-unit-tests, ruff-check, ruff-format

chore: uncommenting create before destroy block
  infra/aws/common_infrastructure/main.tf
Due: terraform-fmt

fix: updating onboarding API calls and user notifications
  frontend/src/api/league_metadata/api_calls.ts
  frontend/src/api/league_metadata/types.ts
  frontend/src/api/onboarding/api_calls.ts
  frontend/src/api/onboarding/types.ts
  frontend/src/features/home/components/Home.tsx
Due: none

fix: adding failure toast
  frontend/src/features/home/components/Home.tsx
Due: none

feat: updating API structure for records page
  frontend/src/api/records/api_calls.ts
  frontend/src/api/records/types.ts
  frontend/src/features/home/components/AllTimeRecords.tsx
  frontend/src/features/home/utils/useAllTimeRecord.ts
Due: none

feat: updating API call for scores
  frontend/src/api/matchups/api_calls.ts
  frontend/src/api/matchups/types.ts
  frontend/src/features/scores/components/Scores.tsx
  frontend/src/features/scores/components/ScoresSkeleton.tsx
Due: none

feat: updating API calls and types for standings pages
  frontend/src/api/matchups/types.ts
  frontend/src/api/owners/api_calls.ts
  frontend/src/api/owners/types.ts
  frontend/src/api/standings/api_calls.ts
  frontend/src/api/standings/types.ts
  frontend/src/components/hooks/fetchOwners.ts
  frontend/src/components/utils/MatchupSheet.tsx
  frontend/src/components/utils/ScoreboardCard.tsx
  frontend/src/features/scores/components/Scores.tsx
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/GraphSkeleton.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/PlayoffStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/components/SkeletonStandingsTable.tsx
  frontend/src/features/standings/types.ts
Due: none

feat: adding loading skeleton for draft board page
  frontend/src/api/draft_results/api_calls.ts
  frontend/src/api/draft_results/types.ts
  frontend/src/features/draft/components/Draft.tsx
  frontend/src/features/draft/components/DraftBoard.tsx
  frontend/src/features/draft/components/DraftPickBoardSkeleton.tsx
  frontend/src/features/draft/types.ts
Due: none

fix: fixing imported type name
  frontend/src/features/draft/types.ts
Due: none

feat: updated season select to use new API client
  frontend/src/components/utils/SeasonSelect.tsx
Due: none

feat: adding conditional login form logic for public leagues
  api/routers/league_metadata.py
  frontend/src/api/league_metadata/types.ts
  frontend/src/features/home/components/Home.tsx
  frontend/src/features/login/components/Login.tsx
  frontend/src/features/login/types.ts
Due: run-unit-tests, ruff-check, ruff-format

feat: adding standings vs. league to season standings
  Dockerfile
  frontend/src/api/standings/types.ts
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/types.ts
  lambdas/step_function_lambdas/league_standings/main.py
Due: run-unit-tests, ruff-check, ruff-format

fix: fixing sticky row shading issue
  frontend/src/components/utils/dataTable.tsx
Due: none

feat: infra changes to deploy web app on domain
  api/main.py
  api/package_api_lambda.sh
  api/routers/onboarding.py
  api/routers/utils.py
  frontend/deploy_frontend.sh
  infra/aws/common_infrastructure/main.tf
  infra/aws/dev/main.tf
  infra/aws/prod/main.tf
  infra/local/main.tf
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: included bench player stat fetch in league onboarding
  api/dependencies.py
  api/routers/matchups.py
  frontend/src/api/league_metadata/api_calls.ts
  frontend/src/api/matchups/types.ts
  frontend/src/components/utils/MatchupSheet.tsx
  lambdas/package_lambda.sh
  lambdas/step_function_lambdas/league_records/main.py
  lambdas/step_function_lambdas/league_scores/main.py
Due: run-unit-tests, ruff-check, ruff-format

feat: adding bench players to matchup sheet
  frontend/src/components/utils/MatchupSheet.tsx
  lambdas/step_function_lambdas/league_scores/main.py
Due: run-unit-tests, ruff-check, ruff-format

fix: fixing vuln 14
  Pipfile.lock
Due: none

feat: added code to calculate lineup efficiency and include it in matchup sheet component
  frontend/src/api/matchups/types.ts
  frontend/src/components/utils/MatchupSheet.tsx
  lambdas/step_function_lambdas/league_scores/main.py
Due: run-unit-tests, ruff-check, ruff-format

feat: adding reusable function for ESPN API calls
  lambda_layer/common_utils/batch_write_dynamodb.py
  lambda_layer/common_utils/espn_api_request.py
  lambda_layer/common_utils/query_dynamodb.py
  lambda_layer/package_layer.sh
  lambdas/step_function_lambdas/league_drafts/main.py
  lambdas/step_function_lambdas/league_members/main.py
  lambdas/step_function_lambdas/league_scores/main.py
  lambdas/step_function_lambdas/league_standings/main.py
  tests/unit/lambda_layer/test_espn_api_request.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added unit tests for league members and lambda layer
  .coveragerc
  .pre-commit-config.yaml
  common_utils/__init__.py
  lambdas/__init__.py
  lambdas/step_function_lambdas/__init__.py
  lambdas/step_function_lambdas/league_members/__init__.py
  tests/unit/lambda_layer/test_batch_write_dynamodb.py
  tests/unit/lambda_layer/test_espn_api_request.py
  tests/unit/lambda_layer/test_query_dynamodb.py
  tests/unit/step_function_lambdas/__init__.py
  tests/unit/step_function_lambdas/test_league_members.py
Due: run-unit-tests, ruff-check, ruff-format

feat: adding unit tests for league scores lambda
  lambdas/step_function_lambdas/league_scores/main.py
  tests/unit/step_function_lambdas/sample_matchups_response.py
  tests/unit/step_function_lambdas/test_league_scores.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added unit tests for league draft function
  lambdas/step_function_lambdas/league_drafts/main.py
  tests/unit/step_function_lambdas/test_league_draft.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added unit tests for league standings lambda
  .pre-commit-config.yaml
  lambdas/step_function_lambdas/league_standings/main.py
  tests/unit/step_function_lambdas/test_league_standings.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added unit tests for weekly standings lambda
  lambdas/step_function_lambdas/league_weekly_standings/main.py
  tests/unit/step_function_lambdas/test_league_weekly_standings.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added unit tests for league records lambda
  lambdas/step_function_lambdas/league_records/main.py
  tests/unit/step_function_lambdas/test_league_records.py
Due: run-unit-tests, ruff-check, ruff-format

fix: remediating vulns in Pipfile.lock packages
  Pipfile.lock
Due: none

feat: adding integration tests for league onboarding step function
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  tests/integration/step_function_lambdas/__init__.py
  tests/integration/step_function_lambdas/league_onboarding.feature
  tests/integration/step_function_lambdas/steps/league_onboarding_steps.py
Due: run-unit-tests, ruff-check, ruff-format

feat: adding integration tests for lambda layer
  .pre-commit-config.yaml
  tests/integration/lambda_layer/__init__.py
  tests/integration/lambda_layer/environment.py
  tests/integration/lambda_layer/steps/dynamodb_steps.py
  tests/integration/lambda_layer/steps/espn_api_request_steps.py
  tests/integration/lambda_layer/test_dynamodb.feature
  tests/integration/lambda_layer/test_espn_api_request.feature
Due: run-unit-tests, ruff-check, ruff-format

feat: adding unit tests for records, dependencies, draft, metadata
  api/dependencies.py
  api/main.py
  api/routers/all_time_records.py
  api/routers/draft.py
  tests/unit/api/test_all_time_records.py
  tests/unit/api/test_dependencies.py
  tests/unit/api/test_draft.py
  tests/unit/api/test_league_metadata.py
Due: run-unit-tests, ruff-check, ruff-format
