Repository amolrairikar/espn-fantasy-league-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-fmt, run-unit-tests, ruff-check, ruff-format

terraform-fmt:
  name: terraform fmt
  entry: terraform fmt -diff -write=true
  language: system
  pass_filenames: true

run-unit-tests:
  name: Run unit tests
  description: Run unit tests locally to ensure all tests pass before committing code.
  entry: pipenv run pytest --cov=api --cov-report=term-missing api/tests
  language: system
  pass_filenames: false

ruff-check:
  name: Ruff linter
  description: Uses Ruff to lint and fix Python code.
  entry: pipenv run ruff check --fix .
  language: system

ruff-format:
  name: Ruff formatter
  description: Uses Ruff to format Python code using standard conventions.
  entry: pipenv run ruff format .
  language: system

fix: added check for mobile to render sidebar
  frontend/src/app/App.tsx
Due: none

fix: updated UI bugs for standings and mobile sidebar
  frontend/src/app/App.tsx
  frontend/src/features/header/components/Header.tsx
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
Due: none

fix: Added GSI for matchups partitioning
  infra/aws/main.tf
  lambdas/step_function_lambdas/league_scores/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: added scores page with ability to click into matchup
  api/routers/matchups.py
  frontend/src/app/App.tsx
  frontend/src/components/utils/MatchupSheet.tsx
  frontend/src/components/utils/ScoreboardCard.tsx
  frontend/src/components/utils/SeasonSelect.tsx
  frontend/src/components/utils/WeekSelect.tsx
  frontend/src/features/scores/components/Scores.tsx
  frontend/src/features/scores/types.ts
  frontend/src/features/sidebar/components/constants.ts
  frontend/src/features/standings/components/SeasonStandings.tsx
  lambdas/step_function_lambdas/league_scores/main.py
Due: run-unit-tests, ruff-check, ruff-format

fix: removing test code
  lambdas/step_function_lambdas/league_scores/main.py
Due: run-unit-tests, ruff-check, ruff-format

chore: updated API responses to not include PK/SK
  api/routers/league_metadata.py
  api/routers/matchups.py
  api/routers/members.py
  api/routers/standings.py
  api/routers/teams.py
Due: run-unit-tests, ruff-check, ruff-format

fix: updated types for all GET request responses to exclude PK/SK fields
  frontend/src/features/login/types.ts
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/types.ts
Due: none

feat: added player scoring into weekly matchup data
  infra/aws/main.tf
  lambdas/step_function_lambdas/league_scores/main.py
  lambdas/step_function_lambdas/league_standings/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: completed scoreboard page to show team name, owner name, and box score
  api/routers/matchups.py
  frontend/src/components/utils/MatchupSheet.tsx
  frontend/src/components/utils/ScoreboardCard.tsx
  frontend/src/features/scores/components/Scores.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/types.ts
Due: run-unit-tests, ruff-check, ruff-format

fix: fixing scoreboard bugs
  frontend/src/components/utils/MatchupSheet.tsx
  frontend/src/components/utils/ScoreboardCard.tsx
Due: none

fix: fixing UI issues with scoreboard and matchup cards
  .github/ISSUE_TEMPLATE/bug.yml
  frontend/src/components/utils/MatchupSheet.tsx
  frontend/src/features/scores/components/Scores.tsx
Due: none

feat: adding playoff marker to scores in scoreboard
  frontend/src/components/utils/ScoreboardCard.tsx
  frontend/src/features/scores/components/Scores.tsx
Due: none

fix: removing infinite fetch matchups loop
  frontend/src/features/scores/components/Scores.tsx
Due: none

feat: adding playoff standings page
  api/routers/matchups.py
  api/routers/standings.py
  frontend/src/components/utils/MatchupSheet.tsx
  frontend/src/features/scores/components/Scores.tsx
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/PlayoffStandings.tsx
  frontend/src/features/standings/components/Standings.tsx
  frontend/src/features/standings/types.ts
  infra/aws/main.tf
  lambdas/step_function_lambdas/league_scores/main.py
  lambdas/step_function_lambdas/league_standings/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: adding team records in scoreboard next to owner name
  api/dependencies.py
  api/routers/matchups.py
  api/routers/standings.py
  frontend/src/components/utils/ScoreboardCard.tsx
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/PlayoffStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/types.ts
  lambdas/step_function_lambdas/league_standings/main.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added table with season schedule + results for season standings tab
  api/routers/matchups.py
  frontend/src/components/utils/SeasonSelect.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/PlayoffStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/types.ts
Due: run-unit-tests, ruff-check, ruff-format

fix: fixing default value bug with season select for Scores
  frontend/src/features/scores/components/Scores.tsx
Due: none

feat: adding playoff and championship status in season standings
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/PlayoffStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/types.ts
  lambdas/step_function_lambdas/league_scores/main.py
  lambdas/step_function_lambdas/league_standings/main.py
Due: run-unit-tests, ruff-check, ruff-format

feat: adding delete league option
  api/routers/utils.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/hooks/genericDeleteRequest.ts
  frontend/src/components/themes/mode_toggle.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/features/header/components/Header.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
Due: run-unit-tests, ruff-check, ruff-format

chore: refactored league standings code to reduce repetition
  lambdas/step_function_lambdas/league_standings/main.py
Due: run-unit-tests, ruff-check, ruff-format

chore: relocking Pipfile to upgrade packages
  Pipfile.lock
Due: none

feat: API and UI and data fetch updates to get all time records
  api/main.py
  api/routers/all_time_records.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/home/components/AllTimeRecords.tsx
  frontend/src/features/home/components/ChampionshipWinnersTable.tsx
  frontend/src/features/home/components/Home.tsx
  frontend/src/features/home/components/Top10PlayerScoresTable.tsx
  frontend/src/features/home/components/Top10TeamScoresTable.tsx
  frontend/src/features/home/types.ts
  frontend/src/features/home/utils/TableSkeleton.tsx
  frontend/src/features/home/utils/recordConfigs.ts
  frontend/src/features/home/utils/useAllTimeRecord.ts
  infra/aws/main.tf
  lambdas/step_function_lambdas/league_standings/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

chore: standardizing DynamoDB schema + field names
  api/main.py
  api/routers/league_metadata.py
  api/routers/owners.py
  api/routers/standings.py
  frontend/src/components/utils/ScoreboardCard.tsx
  frontend/src/features/home/components/ChampionshipWinnersTable.tsx
  frontend/src/features/home/components/Top10PlayerScoresTable.tsx
  frontend/src/features/home/components/Top10TeamScoresTable.tsx
  frontend/src/features/home/types.ts
  frontend/src/features/login/types.ts
  frontend/src/features/scores/components/Scores.tsx
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/PlayoffStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/types.ts
  lambdas/step_function_lambdas/league_members/main.py
  lambdas/step_function_lambdas/league_scores/main.py
  lambdas/step_function_lambdas/league_standings/main.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added step function lambda to write draft results and value to DB
  infra/aws/main.tf
  lambdas/constants.py
  lambdas/step_function_lambdas/league_drafts/main.py
  lambdas/step_function_lambdas/league_drafts/requirements.txt
  lambdas/step_function_lambdas/league_standings/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: added API endpoint to fetch draft results
  Pipfile
  Pipfile.lock
  api/main.py
  api/routers/draft.py
  frontend/package-lock.json
Due: run-unit-tests, ruff-check, ruff-format

chore: updating lambda packaging shell script permissions
  api/package_api_lambda.sh
  lambdas/package_lambda.sh
Due: none

fix: updated Dockerfile + shell scripts to run on macOS
  lambdas/package_lambda.sh
Due: none

fix: adding other shell script changes
  .gitignore
  api/package_api_lambda.sh
  api/requirements.txt
Due: none

feat: adding draft results UI page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/features/draft/components/Draft.tsx
  frontend/src/features/draft/components/DraftBoard.tsx
  frontend/src/features/draft/components/DraftPickCard.tsx
  frontend/src/features/draft/types.ts
  frontend/src/features/sidebar/components/constants.ts
  lambdas/step_function_lambdas/league_drafts/main.py
Due: run-unit-tests, ruff-check, ruff-format

chore: updating permissions on frontend deploy script
  frontend/deploy_frontend.sh
Due: none

chore: fixing package vulnerabilities
  Pipfile
  Pipfile.lock
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: updating package-lock.json
  frontend/package-lock.json
Due: none

chore: updating frontend packages
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: updated README
  README.md
Due: none

fix: fixed mode toggle
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/themes/mode_toggle.tsx
  frontend/src/features/header/components/Header.tsx
Due: none

feat: updating table row click functionality
  frontend/src/components/utils/dataTable.tsx
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/PlayoffStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
Due: none

feat: initial layer creation and league members refactor
  .gitignore
  .pre-commit-config.yaml
  .vscode/launch.json
  infra/aws/main.tf
  lambda_layer/Dockerfile
  lambda_layer/common_utils/__init__.py
  lambda_layer/common_utils/batch_write_dynamodb.py
  lambda_layer/common_utils/logging_config.py
  lambda_layer/common_utils/requirements.txt
  lambda_layer/common_utils/retryable_request_session.py
  lambda_layer/package_layer.sh
  lambdas/step_function_lambdas/league_members/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

fix: remove test code
  lambdas/step_function_lambdas/league_members/main.py
Due: run-unit-tests, ruff-check, ruff-format

feat: refactored league scores lambda to use layer
  infra/aws/main.tf
  lambdas/step_function_lambdas/league_scores/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

fix: fixed bug with playoff and championship standings icons
  lambdas/step_function_lambdas/league_standings/main.py
Due: run-unit-tests, ruff-check, ruff-format

Path conditions:
  terraform-fmt: any of: \.(tf|tfvars)$
  run-unit-tests: any of: \.py$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
