Repository amolrairikar/espn-fantasy-league-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-fmt, run-unit-tests, ruff-check, ruff-format

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: detect-aws-credentials
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [chore, docs, feat, fix, refactor, revert, test]
  - repo: local
    hooks:
      - id: terraform-fmt
        name: terraform fmt
        entry: terraform fmt -diff -write=true
        language: system
        types: [terraform]
        pass_filenames: true
      - id: terraform-validate
        name: terraform validate
        entry: terraform validate -json
        language: system
        pass_filenames: false
      - id: run-unit-tests
        name: Run unit tests
        description: "Run unit tests locally to ensure all tests pass before committing code."
        entry: pipenv run pytest --cov=api --cov-report=term-missing api/tests
        language: system
        types: [python]
        pass_filenames: false
      - id: ruff-check
        name: Ruff linter
        description: "Uses Ruff to lint and fix Python code."
        entry: pipenv run ruff check --fix .
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff formatter
        description: "Uses Ruff to format Python code using standard conventions."
        entry: pipenv run ruff format .
        language: system
        types: [python]

feat: added observability logs, usage limits, and improved tagging
  .gitignore
  .pre-commit-config.yaml
  infra/aws/main.tf
Due: terraform-fmt

feat: created S3 bucket and Cloudfront distribution for React app
  Pipfile
  Pipfile.lock
  frontend/.gitignore
  frontend/Home.py
  frontend/Pipfile
  frontend/Pipfile.lock
  frontend/README.md
  frontend/deploy_frontend_update.sh
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/utils.py
  frontend/vite.config.ts
  infra/aws/main.tf
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: got New Relic API key for future Metric Streams if needed
  .gitignore
Due: none

feat: refactored API code to include routers
  .coveragerc
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  README.md
  api/dependencies.py
  api/main.py
  api/routers/health.py
  api/routers/league_metadata.py
  infra/aws/main.tf
  tests/__init__.py
  tests/api/__init__.py
  tests/api/test_health_check.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: adding leagues endpoints for onboarding and getting league metadata
  api/dependencies.py
  api/main.py
  api/models.py
  api/routers/league_metadata.py
Due: run-unit-tests, ruff-check, ruff-format

fix: Updating PK/SK in DynamoDB and adding newline to precommit
  .pre-commit-config.yaml
  infra/aws/main.tf
Due: terraform-fmt

chore: creating init.py files
  api/__init__.py
  api/routers/__init__.py
Due: run-unit-tests, ruff-check, ruff-format

fix: CI/CD updates for Lambda deployment
  .gitignore
  Dockerfile
Due: none

fix: Updated handler in Terraform main file
  infra/aws/main.tf
Due: terraform-fmt

fix: updated file imports in main
  api/main.py
Due: run-unit-tests, ruff-check, ruff-format

fix: making API key header lowercase
  api/dependencies.py
Due: run-unit-tests, ruff-check, ruff-format

fix: adding in rest of Lambda deployment updates
  api/package_api_lambda.sh
  api/requirements.txt
Due: none

fix: updating endpoint code to not raise 404 for league not found
  api/routers/league_metadata.py
Due: run-unit-tests, ruff-check, ruff-format

fix: updating API endpoint status codes and API deployment
  api/routers/league_metadata.py
  infra/aws/main.tf
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: initial commit of frontend league onboarding code
  frontend/components.json
  frontend/deploy_frontend.sh
  frontend/deploy_frontend_update.sh
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Home.tsx
  frontend/src/Login.tsx
  frontend/src/components/themes/mode_toggle.tsx
  frontend/src/components/themes/theme_provider.tsx
  frontend/src/components/types/league_data.ts
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: none

test: testing husky pre-commit
  frontend/.eslintignore
  frontend/.eslintrc.cjs
  frontend/.husky/pre-commit
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Home.tsx
  frontend/src/components/themes/theme_provider.tsx
  frontend/src/components/ui/button.tsx
Due: none

test: testing husky pre-commit updates
  api/Dockerfile
  frontend/.husky/pre-commit
Due: none

test: ran npm format and lint on all files
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Home.tsx
  frontend/src/Login.tsx
  frontend/src/components/themes/mode_toggle.tsx
  frontend/src/components/themes/theme_provider.tsx
  frontend/src/components/types/league_data.ts
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/index.css
  frontend/src/main.tsx
Due: none

fix: improving App.tsx
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/hooks/useLocalStorage.ts
Due: none

fix: removing success toasts
  frontend/src/Login.tsx
Due: none

fix: fixing ESLint errors
  frontend/.eslintignore
  frontend/.eslintrc.cjs
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Login.tsx
  frontend/src/hooks/useLocalStorage.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Due: none

feat: onboarded league members and league score step functions
  Pipfile
  Pipfile.lock
  api/package_api_lambda.sh
  api/routers/league_metadata.py
  frontend/.husky/pre-commit
  infra/aws/main.tf
  lambdas/Dockerfile
  lambdas/constants.py
  lambdas/package_lambda.sh
  lambdas/step_function_lambdas/league_members/main.py
  lambdas/step_function_lambdas/league_members/requirements.txt
  lambdas/step_function_lambdas/league_scores/main.py
  lambdas/step_function_lambdas/league_scores/requirements.txt
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: created step function onboarding API endpoints
  api/data_pull_scripts/constants.py
  api/data_pull_scripts/league_members.py
  api/data_pull_scripts/scores.py
  api/main.py
  api/models.py
  api/routers/league_metadata.py
  api/routers/onboarding.py
  infra/aws/main.tf
  lambdas/step_function_lambdas/league_members/main.py
  lambdas/step_function_lambdas/league_scores/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: added API endpoints to get league teams and matchup results
  Pipfile
  Pipfile.lock
  api/main.py
  api/models.py
  api/routers/league_metadata.py
  api/routers/matchups.py
  api/routers/onboarding.py
  api/routers/teams.py
  infra/aws/main.tf
  lambdas/step_function_lambdas/league_scores/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: added trigger for onboarding leagues
  frontend/src/App.tsx
  frontend/src/Header.tsx
  frontend/src/Home.tsx
  frontend/src/Login.tsx
  frontend/src/components/types/api_response.ts
  frontend/src/components/types/league_data.ts
  frontend/src/components/utils/api_header.ts
  frontend/src/hooks/useLocalStorage.ts
Due: none

feat: added trigger for onboarding leagues
  api/dependencies.py
  api/routers/league_metadata.py
Due: run-unit-tests, ruff-check, ruff-format

fix: removing response model annotations and simplifying error handling
  api/models.py
  api/routers/league_metadata.py
  api/routers/matchups.py
  api/routers/onboarding.py
  api/routers/teams.py
Due: run-unit-tests, ruff-check, ruff-format

fix: excluding none from response model
  api/routers/league_metadata.py
Due: run-unit-tests, ruff-check, ruff-format

feat: frontend code refactor
  api/models.py
  api/routers/league_metadata.py
  api/routers/onboarding.py
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Header.tsx
  frontend/src/Home.tsx
  frontend/src/Login.tsx
  frontend/src/app/App.tsx
  frontend/src/app/main.tsx
  frontend/src/components/hooks/genericGetRequest.ts
  frontend/src/components/hooks/genericPostRequest.ts
  frontend/src/components/hooks/genericPutRequest.ts
  frontend/src/components/hooks/useLocalStorage.ts
  frontend/src/components/utils/api_fetch.ts
  frontend/src/components/utils/api_header.ts
  frontend/src/components/utils/constants.ts
  frontend/src/components/utils/query_client.ts
  frontend/src/components/utils/types.ts
  frontend/src/features/header/components/Header.tsx
  frontend/src/features/header/types.ts
  frontend/src/features/home/components/Home.tsx
  frontend/src/features/home/types.ts
  frontend/src/features/home/utils/poll.ts
  frontend/src/features/login/components/Login.tsx
  frontend/src/features/login/types.ts
  frontend/src/main.tsx
Due: run-unit-tests, ruff-check, ruff-format

feat: adding lambda to Step fn to compute league standings
  Pipfile
  Pipfile.lock
  api/dependencies.py
  infra/aws/main.tf
  lambdas/package_lambda.sh
  lambdas/step_function_lambdas/league_scores/main.py
  lambdas/step_function_lambdas/league_standings/main.py
  lambdas/step_function_lambdas/league_standings/requirements.txt
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

fix: resolved concurrency errors
  api/main.py
  api/routers/utils.py
  frontend/src/components/utils/api_fetch.ts
  frontend/src/features/home/components/Home.tsx
  infra/aws/main.tf
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

fix: frontend cleanup
  frontend/src/components/utils/api_fetch.ts
  frontend/src/components/utils/loadingButton.tsx
  frontend/src/features/header/components/Header.tsx
  frontend/src/features/home/components/Home.tsx
  frontend/src/features/login/components/Login.tsx
  infra/aws/main.tf
Due: terraform-fmt

chore: adding about message in info popup
  frontend/src/features/header/components/Header.tsx
Due: none

feat: added sidebar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/features/home/components/Home.tsx
  frontend/src/features/sidebar/components/app-sidebar.tsx
  frontend/src/features/sidebar/types.ts
  frontend/src/features/standings/components/Standings.tsx
  frontend/src/features/standings/types.ts
  frontend/src/hooks/use-mobile.ts
Due: none

feat: initial standings page development
  api/main.py
  api/routers/matchups.py
  api/routers/members.py
  api/routers/standings.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/hooks/genericGetRequest.ts
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/components/Standings.tsx
  frontend/src/features/standings/types.ts
  lambdas/step_function_lambdas/league_members/main.py
  lambdas/step_function_lambdas/league_scores/main.py
  lambdas/step_function_lambdas/league_standings/main.py
Due: run-unit-tests, ruff-check, ruff-format

feat: enhanced standings pages
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/components/Standings.tsx
  frontend/src/features/standings/types.ts
  infra/aws/main.tf
Due: terraform-fmt

fix: simplifying API response structure and corresponding frontend updates
  frontend/src/components/hooks/genericGetRequest.ts
  frontend/src/components/hooks/genericPostRequest.ts
  frontend/src/components/hooks/genericPutRequest.ts
  frontend/src/components/types/api_response.ts
  frontend/src/components/types/api_response_types.ts
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/utils/api_fetch.ts
  frontend/src/components/utils/types.ts
  frontend/src/features/home/components/Home.tsx
  frontend/src/features/home/types.ts
  frontend/src/features/login/components/Login.tsx
  frontend/src/features/login/types.ts
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
Due: none

chore: adding api changes
  api/dependencies.py
  api/main.py
  api/models.py
  api/routers/league_metadata.py
  api/routers/matchups.py
  api/routers/members.py
  api/routers/onboarding.py
  api/routers/standings.py
  api/routers/teams.py
  api/routers/utils.py
Due: run-unit-tests, ruff-check, ruff-format

feat: switched table format from AgGrid to Tanstack
  api/routers/standings.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/types/data_table_types.ts
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/utils/dataTable.tsx
  frontend/src/components/utils/sortableColumnHeader.tsx
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/components/Standings.tsx
  frontend/src/features/standings/types.ts
  infra/aws/main.tf
  lambdas/step_function_lambdas/league_standings/main.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: adding mobile compatibility for web app
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/components/themes/mode_toggle.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/features/header/components/Header.tsx
  frontend/src/features/sidebar/components/constants.ts
  frontend/src/features/sidebar/components/desktopSidebar.tsx
  frontend/src/features/sidebar/components/mobileSidebar.tsx
Due: none
