Repository amolrairikar/espn-fantasy-league-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-fmt, run-unit-tests, ruff-check, ruff-format

terraform-fmt:
  name: terraform fmt
  entry: terraform fmt -diff -write=true
  language: system
  pass_filenames: true

run-unit-tests:
  name: Run unit tests
  description: Run unit tests locally to ensure all tests pass before committing code.
  entry: pipenv run pytest --cov=api --cov-report=term-missing api/tests
  language: system
  pass_filenames: false

ruff-check:
  name: Ruff linter
  description: Uses Ruff to lint and fix Python code.
  entry: pipenv run ruff check --fix .
  language: system

ruff-format:
  name: Ruff formatter
  description: Uses Ruff to format Python code using standard conventions.
  entry: pipenv run ruff format .
  language: system

feat: adding unit tests for matchups endpoint
  tests/unit/api/test_matchups.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added unit tests for onboarding endpoint
  api/routers/onboarding.py
  tests/unit/api/test_onboarding.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added unit tests for owners and teams endpoints
  api/main.py
  api/routers/owners.py
  api/routers/teams.py
  tests/unit/api/test_owners.py
  tests/unit/api/test_teams.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added unit tests for standings endpoint
  tests/unit/api/test_standings.py
  tests/unit/api/test_utils.py
Due: run-unit-tests, ruff-check, ruff-format

feat: adding GSI5 for league deletion
  infra/aws/common_infrastructure/main.tf
  lambdas/step_function_lambdas/league_drafts/main.py
  lambdas/step_function_lambdas/league_members/main.py
  lambdas/step_function_lambdas/league_records/main.py
  lambdas/step_function_lambdas/league_scores/main.py
  lambdas/step_function_lambdas/league_standings/main.py
  lambdas/step_function_lambdas/league_weekly_standings/main.py
  tests/unit/step_function_lambdas/test_league_members.py
  tests/unit/step_function_lambdas/test_league_records.py
  tests/unit/step_function_lambdas/test_league_standings.py
  tests/unit/step_function_lambdas/test_league_weekly_standings.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: additional updates for league deletion GSI
  api/routers/league_metadata.py
  api/routers/utils.py
  lambdas/step_function_lambdas/league_standings/main.py
  tests/unit/step_function_lambdas/test_league_standings.py
Due: run-unit-tests, ruff-check, ruff-format

chore: reordering precommit file
  .pre-commit-config.yaml
Due: none

chore: adding unit tests for bulk delete util
  tests/unit/api/test_utils.py
Due: run-unit-tests, ruff-check, ruff-format

chore: upgrading npm packages
  README.md
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: removing public league option for ESPN leagues
  api/dependencies.py
  api/models.py
  api/routers/league_metadata.py
  api/routers/onboarding.py
  frontend/src/api/league_metadata/api_calls.ts
  frontend/src/api/league_metadata/types.ts
  frontend/src/api/onboarding/types.ts
  frontend/src/features/home/components/Home.tsx
  frontend/src/features/login/components/Login.tsx
  frontend/src/features/login/form_schema.ts
  infra/aws/common_infrastructure/main.tf
  lambda_layer/common_utils/espn_api_request.py
  lambdas/step_function_lambdas/league_drafts/main.py
  lambdas/step_function_lambdas/league_members/main.py
  lambdas/step_function_lambdas/league_scores/main.py
  tests/unit/api/test_dependencies.py
  tests/unit/api/test_league_metadata.py
  tests/unit/lambda_layer/test_espn_api_request.py
  tests/unit/step_function_lambdas/test_league_draft.py
  tests/unit/step_function_lambdas/test_league_members.py
  tests/unit/step_function_lambdas/test_league_scores.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: added API integration tests
  .pre-commit-config.yaml
  api/routers/health.py
  api/routers/standings.py
  api/routers/utils.py
  tests/integration/api/__init__.py
  tests/integration/api/steps/__init__.py
  tests/integration/api/steps/api_steps.py
  tests/integration/api/test_all_time_records.feature
  tests/integration/api/test_draft_results.feature
  tests/integration/api/test_health.feature
  tests/integration/api/test_league_metadata.feature
  tests/integration/api/test_matchups.feature
  tests/integration/api/test_onboarding.feature
  tests/integration/api/test_owners.feature
  tests/integration/api/test_standings.feature
  tests/integration/api/test_teams.feature
  tests/integration/api/test_utils.feature
  tests/unit/api/test_standings.py
Due: run-unit-tests, ruff-check, ruff-format

fix: removed unnecessary league data checks
  frontend/src/features/draft/components/Draft.tsx
  frontend/src/features/home/components/AllTimeRecords.tsx
  frontend/src/features/home/components/Home.tsx
  frontend/src/features/scores/components/Scores.tsx
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/PlayoffStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
Due: none

feat: added banner for 500 errors and cleaned up API calls
  api/routers/health.py
  frontend/src/api/health/api_calls.ts
  frontend/src/api/health/types.ts
  frontend/src/api/standings/api_calls.ts
  frontend/src/api/utils/api_calls.ts
  frontend/src/api/utils/types.ts
  frontend/src/app/App.tsx
  frontend/src/components/hooks/genericDeleteRequest.ts
  frontend/src/components/hooks/genericGetRequest.ts
  frontend/src/components/hooks/genericPostRequest.ts
  frontend/src/components/hooks/genericPutRequest.ts
  frontend/src/components/utils/ScoreboardCard.tsx
  frontend/src/components/utils/apiErrorBanner.tsx
  frontend/src/components/utils/api_fetch.ts
  frontend/src/features/header/components/Header.tsx
  tests/unit/api/test_health_check.py
Due: run-unit-tests, ruff-check, ruff-format

fix: fixed league deletion call
  frontend/src/api/api_client.ts
  frontend/src/features/header/components/Header.tsx
Due: none

feat: refactored login page and set up E2E Playwright tests
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/utils/formButton.tsx
  frontend/src/features/login/components/Login.tsx
  frontend/src/features/login/components/LoginForm.tsx
  frontend/src/features/login/components/OnboardDialog.tsx
  frontend/src/features/login/form_schema.ts
  frontend/src/features/login/login_form_schema.ts
  frontend/src/features/login/onboarding_form_schema.ts
  frontend/src/features/login/utils.test.ts
  frontend/src/features/login/utils.ts
  lambdas/step_function_lambdas/league_standings/main.py
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/test_connection.py
Due: run-unit-tests, ruff-check, ruff-format

feat: cleaning up security of league metadata endpoints
  Pipfile.lock
  api/dependencies.py
  api/routers/league_metadata.py
  tests/integration/api/test_league_metadata.feature
  tests/unit/api/test_league_metadata.py
Due: run-unit-tests, ruff-check, ruff-format

fix: updating PUT to PATCH endpoint
  api/routers/league_metadata.py
  frontend/src/api/league_metadata/api_calls.ts
  frontend/src/features/home/components/Home.tsx
  tests/integration/api/steps/api_steps.py
  tests/integration/api/test_league_metadata.feature
Due: run-unit-tests, ruff-check, ruff-format

fix: adding PATCH to API gateway integration
  infra/aws/common_infrastructure/main.tf
Due: terraform-fmt

feat: optimizing utility code
  frontend/src/components/types/api_response_types.ts
  frontend/src/components/utils/SeasonSelect.tsx
  frontend/src/components/utils/WeekSelect.tsx
Due: none

feat: cleaning up frontend tailwind classes
  frontend/src/features/home/utils/poll.ts
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/GraphSkeleton.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/PlayoffStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/components/SkeletonStandingsTable.tsx
  tests/integration/api/test_utils.feature
Due: none

feat: added login e2e tests
  tests/e2e/test_login.py
  tests/integration/api/test_league_metadata.feature
  tests/integration/api/test_utils.feature
Due: run-unit-tests, ruff-check, ruff-format

fix: adding back in metadata tests
  tests/integration/api/test_league_metadata.feature
  tests/integration/api/test_utils.feature
Due: none

fix: adding back in metadata tests
  tests/integration/api/test_utils.feature
Due: none

chore: committing branch as a develop branch for project refactor
  .pre-commit-config.yaml
Due: none

feat: moved all onboarding code into single lambda, starting with league members
  Pipfile
  Pipfile.lock
  common_utils/__init__.py
  lambda_layer/Dockerfile
  lambda_layer/common_utils/requirements.txt
  lambda_layer/package_layer.sh
  lambdas/Dockerfile
  lambdas/main.py
  lambdas/onboarding/__init__.py
  lambdas/onboarding/api_requests.py
  lambdas/onboarding/data_processing.py
  lambdas/onboarding/league_onboarder.py
  lambdas/onboarding/write_data.py
  lambdas/package_lambda.sh
  lambdas/requirements.txt
  lambdas/utils/__init__.py
  lambdas/utils/espn_api_request.py
  lambdas/utils/logging_config.py
  lambdas/utils/retryable_request_session.py
Due: run-unit-tests, ruff-check, ruff-format

fix: removed handler invocation
  lambdas/main.py
Due: run-unit-tests, ruff-check, ruff-format

feat: deployed updated infrastructure to get onboarding endpoint working
  api/dependencies.py
  api/main.py
  api/routers/all_time_records.py
  api/routers/draft.py
  api/routers/league_metadata.py
  api/routers/league_validation.py
  api/routers/matchups.py
  api/routers/onboarding.py
  api/routers/owners.py
  api/routers/standings.py
  api/routers/teams.py
  api/routers/utils.py
  infra/aws/common_infrastructure/main.tf
  lambdas/Dockerfile
  lambdas/onboarding/league_onboarder.py
  lambdas/onboarding/write_data.py
  lambdas/requirements.txt
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: adding code to fetch draft and matchup data
  lambdas/onboarding/api_requests.py
  lambdas/onboarding/data_processing.py
  lambdas/onboarding/league_onboarder.py
Due: run-unit-tests, ruff-check, ruff-format

feat: added all analytic queries processing API data
  1770206.duckdb
  lambdas/onboarding/api_requests.py
  lambdas/onboarding/data_processing.py
  lambdas/onboarding/league_onboarder.py
  lambdas/onboarding/write_data.py
Due: run-unit-tests, ruff-check, ruff-format

feat: all changes for home page
  frontend/src/components/hooks/useDuckDb.ts
  frontend/src/components/hooks/useDuckDbQuery.ts
  frontend/src/components/utils/dbCacheManager.ts
  frontend/src/components/utils/executeDuckDbQuery.ts
  frontend/src/components/utils/syncDuckDb.ts
  frontend/src/features/home/components/AllTimeRecords.tsx
  frontend/src/features/home/components/ChampionshipWinnersTable.tsx
  frontend/src/features/home/components/Home.tsx
  frontend/src/features/home/components/Top10PlayerScoresTable.tsx
  frontend/src/features/home/components/Top10TeamScoresTable.tsx
  frontend/src/features/home/utils/recordConfigs.ts
  frontend/src/features/login/components/Login.tsx
  infra/aws/common_infrastructure/main.tf
  lambdas/onboarding/data_processing.py
  lambdas/onboarding/league_onboarder.py
Due: terraform-fmt, run-unit-tests, ruff-check, ruff-format

feat: updating scores page to use DuckDB SQL
  frontend/src/app/App.tsx
  frontend/src/app/main.tsx
  frontend/src/components/types/league_data.ts
  frontend/src/components/utils/CustomSelectbox.tsx
  frontend/src/components/utils/DatabaseContext.tsx
  frontend/src/components/utils/MatchupSheet.tsx
  frontend/src/components/utils/ScoreboardCard.tsx
  frontend/src/features/home/components/Home.tsx
  frontend/src/features/home/utils/poll.ts
  frontend/src/features/scores/components/Scores.tsx
  frontend/src/features/scores/components/scoreboardCardSkeleton.tsx
  frontend/src/features/scores/types.ts
  lambdas/onboarding/data_processing.py
Due: run-unit-tests, ruff-check, ruff-format

feat: updating draft page with SQL queries
  frontend/src/app/App.tsx
  frontend/src/features/draft/components/Draft.tsx
  frontend/src/features/draft/components/DraftBoard.tsx
  frontend/src/features/draft/components/DraftPickBoardSkeleton.tsx
  frontend/src/features/draft/components/DraftPickCard.tsx
  frontend/src/features/draft/types.ts
  frontend/src/features/scores/components/Scores.tsx
  lambdas/onboarding/data_processing.py
Due: run-unit-tests, ruff-check, ruff-format

feat: updated standings page
  frontend/src/app/App.tsx
  frontend/src/features/scores/types.ts
  frontend/src/features/standings/components/AllTimeStandings.tsx
  frontend/src/features/standings/components/H2HStandings.tsx
  frontend/src/features/standings/components/PlayoffStandings.tsx
  frontend/src/features/standings/components/SeasonStandings.tsx
  frontend/src/features/standings/components/SkeletonStandingsTable.tsx
  frontend/src/features/standings/components/Standings.tsx
  frontend/src/features/standings/types.ts
  frontend/src/features/standings/utils.ts
  lambdas/onboarding/data_processing.py
Due: run-unit-tests, ruff-check, ruff-format

feat: destroy React app infra
  infra/aws/common_infrastructure/main.tf
Due: terraform-fmt

feat: adding ESPN auth to all API endpoints
  Pipfile.lock
  api/dependencies.py
  api/main.py
  api/models.py
  api/routers/fetch_database.py
  api/routers/league_validation.py
  api/routers/onboarding.py
  lambdas/main.py
  lambdas/onboarding/league_onboarder.py
Due: run-unit-tests, ruff-check, ruff-format

feat: initial typescript project setup
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: none

fix: updating eslint.config.js based on README
  frontend/eslint.config.js
Due: none

Path conditions:
  terraform-fmt: any of: \.(tf|tfvars)$
  run-unit-tests: any of: \.py$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
